<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>ATTEND MASS</title>
    
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400", 
														"normalize",
														"attend" %>
														
    <%= javascript_include_tag  "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js",
																"//cdnjs.cloudflare.com/ajax/libs/pubnub/3.5.3/pubnub.min.js",
																"//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js",
																"attend" %>
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>