<div id="v-shim">
	<div id="h-shim">
		
		<div id="exit" class="action">
			<span class="action-txt">EXIT</span>
		</div>
		
		<div id="attend" class="action">
			<span class="action-txt">ATTEND</span>
		</div>
		
	</div>
</div>